main{
	background: #e6e6e6;
}

nav{
	background:  #001a1a;
	transition: 5s;
}

.fundo-jumbotron{
	background: #006666;
	transition: 5s all;
}

.fundo-jumbotron:hover{
	/*background: #003333;*/
	transform: scale(1.1);
}

h5, h2{
	font-weight: bold;
}

.container-formulario{
	width: 80%;
}

.paragrafo-index{
	border: 2px #888888; 
}

.botao-enviar{
	width: 20%;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.botao-enviar:hover{
	background: darkorange;
}
